For Loops

In [1]:
for letter in "ABCDEFGHIJKLMNOP":
    print(letter)

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P

In [17]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [12]:
for letter in ("holland"):
    print(letter)

h
o
l
l
a
n
d

In [18]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
     print("I like " + fruit + "s")

I like apples
I like bananas
I like cherrys

In [21]:
for number in range(1,21):
    if number % 2 == 0:
        print(number)

2
4
6
8
10
12
14
16
18
20

In [25]:
for number in range(1,21):
    if number == 13:
        print("SKIPPED")
    else: 
        print(number)

1
2
3
4
5
6
7
8
9
10
11
12
SKIPPED
14
15
16
17
18
19
20

In [27]:
for number in range(1,6):
    print(number*number)

1
4
9
16
25

In [29]:
names = ["Ali", "John", "Sarah"]
for name in names:
    if name[0] == "A":
        print(name)

Ali

In [30]:
scores = [70, 85, 40, 90]
for score in scores:
    if score > 50:
        print("Pass")
    else:
        print("Fail")

Pass
Pass
Fail
Pass

In [40]:
star = "*"
count = 1
for num in range(1,6):
    print("*" * count)
    count += 1

*
**
***
****
*****

In [41]:
for i in range(1, 6):
    print("*" * i)

*
**
***
****
*****

Loop through a list of words and print only the vowels in each word:

In [47]:
words = ["hello", "world", "python"]

for word in words:
    for letter in word:
        if letter in "aeiou":
            print(letter)

e
o
o
o