# Function Practice Exercises
Problems are arranged in increasing difficulty:

Warmup - these can be solved using basic comparisons and methods

Level 1 - these may involve if/then conditional statements and simple methods

Level 2 - these may require iterating over sequences, usually with some kind of loop

Challenging - these will take some creativity to solve

### WARMUP SECTION:

LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [371]:
def lesser_of_two_evens(a,b):
    if a > b:
        return b
    else:
        return a

In [372]:
# Check
lesser_of_two_evens(2,4)

2

In [373]:
# Check
lesser_of_two_evens(2,5)

2

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [374]:
def animal_crackers(text):
    words = text.split()

    if words[0][0] == words[1][0]: #the first [0] in words[0][0] is the word, then the second [0] is the first letter of that word.
        return True
    else:
        return False

In [375]:
# Check
animal_crackers('Levelheaded Llama')

True

In [376]:
# Check
animal_crackers('Crazy Kangaroo')

False

### LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [377]:
def old_macdonald(name):
    
    return name[0].capitalize() + name[1:3] + name[3].capitalize() + name[4:]

In [378]:
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. 

The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])

>>> "Hello world"

In [379]:
def master_yoda(text):
    words = text.split()

    reversed_words = words[::-1]

    result = ' '.join(reversed_words)
    
    return result

In [380]:
# Check
master_yoda('hello my name is')

'is name my hello'

In [381]:
# Check
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [382]:
def almost_there(n):
    if 90<=n<=110 or 190<=n<=210:
        return True
    else:
        return False

In [383]:
almost_there(92)

True

# LEVEL 2 PROBLEMS

### FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [384]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i] == 3 and nums[i+1] ==3:
            return True
    return False

In [385]:
# Check
has_33([1, 3, 3])

True

In [386]:
# Check
has_33([1, 3, 1, 3])

False

In [387]:
# Check
has_33([3, 1, 3])

False

### PAPER DOLL:

Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [388]:
def paper_doll(text):
    result = ""

    for char in text:
        result += char*3
    
    return result

In [389]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [390]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

### BLACKJACK:

Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST

'
blackjack(9,9,11) --> 1919

In [391]:
def blackjack(a,b,c):
    sum = a + b + c
    
    if 1 <= a <= 11 and 1 <= b <= 11 and 1 <= c <= 11:
        if sum <= 21:
            return sum

        elif sum > 21 and (a == 11 or b == 11 or c == 11):
            sum -= 10
            if sum <= 21:
                return sum
            else:
                return 'BUST'

        else:
            return 'BUST'
            
    else:
        return 'Please input a card number from 1-11!'

In [394]:
def blackjack(a,b,c):
    sum = a+b+c
    
    if sum <= 21:
        return sum
    elif 11 in [a,b,c] and (sum - 10) <= 21:
        return sum - 10
    else: 
        return 'BUST'

In [395]:
# Check
blackjack(9,9,9)

'BUST'

In [396]:
# Check
blackjack(9,9,11)

19

### SUMMER OF '69

Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [397]:
def summer_69(arr):
    total = 0
    in_ignore_section = False
    
    for i in arr:
        if i == 6:
            in_ignore_section = True
            
        elif i == 9:
            in_ignore_section = False
            
        elif not in_ignore_section:
            total += i
        else:
            pass
    return total

In [398]:
# Check
summer_69([1, 3, 5])

9

In [399]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [400]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEM

### SPY GAME:

Write a function that takes in a list of integers and returns True if it contains 007 in order

spy_game([1,2,4,0,0,7,5]) --> True

spy_game([1,0,2,4,0,5,7]) --> True

spy_game([1,7,2,0,4,5,0]) --> False

In [401]:
def spy_game(nums):
    count = 0

    for i in nums:
        if i == 0 and count == 0:
            count += 1
   
        elif i == 0 and count == 1:
            count += 1
            
        elif i == 7 and count == 2:
            return True

    return False

In [402]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [403]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [404]:
# Check
spy_game([1,7,2,0,4,5,0])

False

In [405]:
spy_game([1,0,2,4,0,5,7])

True